[Unit]
Description=R21 Board Service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/r21_board.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
